$skeleton-color: #e0e0e0;

.event-item {
    display: flex;
    flex-direction: column;
    width: auto;
    cursor: pointer;
    user-select: none;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 280px;
    text-align: left;
    cursor: pointer;
  
  // using skeleton loading animation and min height for image to prevent layout shift
    &__image {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: auto;
      min-height: 130px;
      object-fit: cover;
      background-color: $skeleton-color;
      animation: skeleton-loading 1s infinite ease-in-out;
      @include min-sm {
        min-height: 150px;
      }
      @include min-md {
        min-height: 178px;
      }
    }
  
    &__content {
      padding: 5px 12px;
    }
  
    &__title {
      font-size: 14px;
      line-height: 20px;
      height: 40px;
      margin: 2px 0;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
      color: #1c1c1c;
    }
  
    p {
      margin: 2px 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
      color: #1c1c1c;
      color: #1c1c1c;
    }
  }